.stats-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.manage-button {
    -fx-background-color: #4CAF50; /* Vert */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
}
